<!DOCTYPE html>
<html>
  <head>
    <title>Neilly&Nih</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
   
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
      <a class="navbar-brand" href="/">Accueil</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/bonjour"> Salutation </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/book"> Book </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/user"> User </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/team"> Team </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/contact"> Contact </a>
          </li>
        </ul>
      </div>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <div class="container" style="padding-top: 5 rem;">
    <%= yield %>
    </div>
  </body>
</html>
